

body {
    padding-top: 70px;
    
    }
    
/*heading styling*/
#work {
    margin-bottom: 50px;
    
}

#skills {
    margin-bottom: 10px;
    
}

#contact {
    margin-bottom: 50px;
    padding-left: 25px;
    ;
}

.card-body h2 {
    margin-bottom: 30px;
}

/*images styling*/
.col-md-6 img {
    margin-left: auto;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}

.card-body img {
    display: block;
    margin: 0 auto;
    width: 500px; 
}

.container-skills img {
    position: relative;
    left: 100px;
    bottom: 55px;
    margin: 0 15px;
}

.container-about img {
    padding-top: 20px;
}


/*containers styling*/
.container-work {
    padding-top: 30px;
}

.container-skills {
    padding-top: 120px;
}

.container-about {
    padding-top: 50px;
    padding-bottom: 80px;
}

/*background styles*/

.jumbotron.p-5 {
    
}

/*button styling*/ 
.btn {
    background-color: #3f5470;
    }




.btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}




.card-body .btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    margin-top: 10px;
}


/*list styling*/
.list-group li {
    border-color: #3c536e;
    font-size: 20px;
}

.container-contact li {
    color: #3f5470;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 50px;
    list-style: none;
}

.container-contact p {
    color: #3f5470;
    font-size: 20px;
    line-height: 100px;
}

/*paragraph styling*/
.card-body p {
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

/*link styling*/

.container-contact a {
    text-decoration: none;
    color: #3f5470;;
}

.container-contact a:hover {
        color:blueviolet;
        text-decoration: underline;
    }
