

body {
    padding-top: 70px;
    background-;
    }
    
/*heading styling*/
#work {
    margin-bottom: 50px;
}

#skills {
    margin-bottom: 50px;
}

#contact {
    margin-bottom: 50px;
}

.card-body h2 {
    margin-bottom: 30px;
}

/*images styling*/
.col-md-6 img {
    margin-left: auto;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}

.card-body img {
    display: block;
    margin: 0 auto;
    width: 500px; 
}

/*containers styling*/
.container-work {
    padding-top: 30px;
}

.container-skills {
    padding-top: 100px;
}

.container-about {
    padding-top: 50px;
}

/*button styling*/ 
.btn {
    background-color: #3f5470
}

.card-body .btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    margin-top: 10px;
}


/*list styling*/
.list-group li {
    border-color: #3c536e;
    font-size: 20px;
}

/*paragraph styling*/
.card-body p {
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
}