

body {
    padding-top: 70px;
    background-;
    }
    
/*heading styling*/
#work {
    margin-bottom: 50px;
}

#skills {
    margin-bottom: 50px;
}

#contact {
    margin-bottom: 50px;
}

/*Hero styling*/
.col-md-6 img {
    margin-left: auto;
    margin-right: 0;
    max-width: 100%;
    height: auto;
    }

/*containers styling*/
.container-work {
    padding-top: 30px;
    }

.container-skills {
    padding-top: 100px;
    }

.container-contact {
    padding-top: 50px;
    }

/*button styling*/ 
.btn {
    background-color: #3f5470
}

/*list styling*/
.list-group li {
    border-color: #3c536e;
    font-size: 20px;
}